.anim-badge {
  height: 100vh;
  position: relative;
  z-index: 0;
}   

.badge-content {
    position: absolute;
    bottom: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: transparentize($primary-color, .2);
    color: white;
}

.highlight {
    background-color: $primary-color;
}

.badge-content:hover {
    color: white;
}

.anim-badge:hover {
}
