.anim-badge {
  height: 300px;
  position: relative;
  overflow: hidden;
  @include breakpoint($tablet) {
    @include gallery(4 of 12);
  }
  z-index: 0;
  .badge-content {
    transition: background-color .5s, color .5s;
  }
  margin-bottom: 2em;
}   

.anim-badge:hover {
  .badge-content {
    background-color: transparentize($primary-color, .2);
    color: white;

  }
}

.badge-content {
    position: absolute;
    top: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: transparentize($primary-color, 1);
    color: transparentize($primary-color, 1);
    height: 100%;
    h2 {
      font-size: 1.1em;
      text-transform: uppercase;
    }
}

.highlight {
    background-color: $primary-color;
}

