.content-fullwidth {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  p, h3 {
    color: white;
  }
  @include breakpoint($tablet) {
    width: 100vw;
    margin-left: -12.5%;
    flex-direction: row;
  }
  @include breakpoint($desktop) {
    padding: 1em 8em;
    margin-left: -34%;
  }

}

.gallery {
  color: white;
  div {
    background-color: $ur-styleguide-color;
    padding: 0 2em;
    @include span(12 of 12);
      @include breakpoint($tablet) {
      }
  }
}
