{% extends "layouts/layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div class="content">
            <div class="grid-3 anim-badge hit-and-bun"> 
                <a href="hit_and_bun.html"><div class="badge-content">
                    <h2> Project 1</h2>
                        <p>Hit and Bun</p>
                        <p>            
                        </p>
                </div></a>
            </div>
            <div class="grid-3 anim-badge"> 
                <a href="#"><div class="badge-content">
                    <h2> Faxian  </h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="grid-3 anim-badge"> 
                <a href="#"><div class="badge-content">
                    <h2> Project 2</h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>

                <article class="main">
        </div>
{% endblock %}
