{% extends "layouts/layout.html" %}

{% set id_1 = "selected" %}

{% block content %}
        <div id="header_container" class="l-hero">
        </div>
        <div id="header-text">
          <h1> I'm Paul</h1>
          <h2>Web Designer & Developer </h2>
        </div>
        <div class="content">
        <div id="work"></div>
        <div>
            <div class="anim-badge ur-styleguide"> 
                <a id="ur_styleguide" href="ur_styleguide.html"><div class="badge-content">
                    <h2> University Residences Styleguide </h2>
                        <p>Hit and Bun</p>
                        <p>            
                        </p>
                </div></a>
            </div>
            <div class="anim-badge hit-and-bun"> 
                <a id="hit_and_bun" href="hit_and_bun.html"><div class="badge-content">
                    <h2> Hit & Bun </h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="anim-badge faxian"> 
                <a id="faxian" href="faxian.html"><div class="badge-content">
                    <h2> Faxian </h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="anim-badge hab_pom"> 
                <a id="habit_pomodoro" href="hab_pom.html"><div class="badge-content">
                    <h2> Habit Pomodoro </h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
            <div class="anim-badge ac_play"> 
                <a id="ac_play" href="ac_play.html"><div class="badge-content">
                    <h2> AC Play </h2>
                        <p>Placeholder content</p>
                        <p>            
                        This is a portal for things to come. <br>
                        Hope it looks good by the time I'm done <br>
                        </p>
                </div></a>
            </div>
        </div>

        </div>
{% endblock %}
