
.about {
  @include container(8 center 90%);
  min-height: 100%;
  p {
    margin-top: 2em;
    text-align: left;
  }
}
@include breakpoint($tablet) {
    .about {
        @include container(12 center 50%);
    }
}


