.l-work-content {
  
  margin-top: 2em;
  @include container(12 center 90%);
  @include breakpoint($tablet) {
    @include container(12 center 80%);
  }
  @include breakpoint($desktop) {
    @include container(12 center 60%);
  }
  img {
    width: 100%;
  }
  #atoms {
    @include span(12 of 12);
    img:first-child{
      width: 80px;
    }
    img {
      width: 220px;
    }
  }
  .case-study {
    @include span(12 of 12);
    img {
      @include gallery(4 of 12);
    }
  }
  .web-link {
    width: 100%;
    height: 4em;
    @include span(12 of 12);
    text-align: right;
    a {
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      height: 100%;
      width: 100%;
      display: block;
      padding-top: 1.3em;
      padding-right: 1em;
    }
    a:after {
      content:"▶";
    }
  }
}

