.hit-and-bun {
  background-image: url("../images/HitandBun_logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.faxian {
  background-image: url("../images/HitandBun_logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.ur-styleguide {
  background-image: url("../images/ur_guide_1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
