li {
  list-style: none;
  margin-bottom: .5em;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}

p, h1, h2, h3 {
  color: #323232;
}
