h1 {
  font-size: 1.3em;
  font-weight: 2em;
  text-transform: uppercase;
}
li {
  list-style: none;
  margin-bottom: .5em;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  line-height: 1.3em;
}

p, h1, h2, h3 {
  color: #323232;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
